<div class="container">
    <ui5-shellbar primary-title="Employee Detail" 
    logo="assets/sap-logo-svg.svg"
    show-co-pilot
    >
        <ui5-button icon="nav-back" slot="startButton" [routerLink]="['']"></ui5-button>
    </ui5-shellbar>
    <ng-container *ngIf="employee$ | async as employee">
        <div class="content-container">
            <div class="header">
                <ui5-title level="H4">
                    Employee ID: {{employee.EmployeeID}}
                </ui5-title>
                <ui5-link [routerLink]="['./', 'resume']">Resume</ui5-link>
            </div>
            <div class="simple-form">
                <div class="row">
                    <span class="key">First Name:</span>
                    <span class="value">{{employee.FirstName}}</span>
                </div>
                <div class="row">
                    <span class="key">Last Name:</span>
                    <span class="value">{{employee.LastName}}</span>
                </div>
                <div class="row">
                    <span class="key">Address:</span>
                    <span class="value">{{employee.Address}}</span>
                </div>
                <div class="row">
                    <span class="key">City:</span>
                    <span class="value">{{employee.City}}, {{employee.Region}}</span>
                </div>
                <div class="row">
                    <span class="key">Postal Code:</span>
                    <span class="value">{{employee.PostalCode}}</span>
                </div>
                <div class="row">
                    <span class="key">Phone (Home):</span>
                    <span class="value">{{employee.HomePhone}}</span>
                </div>
                <div class="row last-row">
                    <span class="key">Country:</span>
                    <span class="value">{{employee.Country}}</span>
                </div>

            </div>
        </div>
    </ng-container>
</div>